body {
    background-color: rgba(56, 56, 56, 0.25) !important;
    overflow-x: hidden;
}

header #title {
    text-transform: uppercase;
    color: rgb(65, 105, 225) !important;
    font-weight: 700;
}

.nav-tabs li:first-child {
    width: 80px !important;
    margin-left: 25px !important;
}

.nav-tabs li {
    width: 150px !important;
    margin-left: 5px !important;
    line-height: 50px;
    height: 50px;
    background-color: rgb(34, 32, 32);
    text-align: center;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid rgb(34, 32, 32);
}

.nav-tabs a {
    color: white;
    text-decoration: none;
}

.nav-tabs li:hover {
    background-color: rgb(46, 46, 46);
    text-decoration: none;
}

.nav-tabs .active {
    border-bottom: 3px solid rgb(65, 105, 225);
}

.nav-tabs li .active {
    border-bottom: none;
}

.nav-tabs a:hover {
    color: white;
    text-decoration: none;
}

.nav {
    background-color: rgb(34, 32, 32);
}

/*  MAIN PAGE */

.header-container {
    padding-top: 15px;
    margin-bottom: -15px;
}

#title {
    margin-top: 5px;
}

.header-container #search-input {
    width: 250px;
    height: 30px;
    padding: 6px;
    border: none;
}

.search-div {
    height: 30px;
    width: 250px;
}

#search-btn {
    margin-left: -4px;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgba(65, 105, 225, 0.7);
    height: 40px;
    font-size: 18px;
    padding-bottom: 2px;
}

#search-btn:hover {
    color: rgb(65, 105, 225);
}

#current-weather-icon, .forecast-weather-icon, .weekday-weather-icon, .week-forecast-weather-icon {
    width: 70px;
    height: 70px;
}

.temperature {
    font-weight: 500;
    font-size: 45px;
    margin-top: -10px;
}

.info-title-block {
    background-color: rgba(238, 236, 236, 0.3);
    margin: 30px;
    padding: 30px !important;
    width: 90vw !important;
}

.info-title-block .col-sm {
    text-align: center;
}

.row {
    width: 100%;
}

.col-left {
    text-align: start !important;
    color: rgb(65, 105, 225) !important;
    text-transform: uppercase;
    margin-bottom: 30px !important;
}

.col-right {
    text-align: end !important;
    color: rgb(65, 105, 225) !important;
    text-transform: uppercase;
    margin-bottom: 30px !important;
}

.second-forecast-column {
    height: 70px;
    text-align: start;
    margin-left: -10px;
}

.description {
    color: gray;
    font-size: 20px;
}

.description-black {
    font-size: 20px;
}

.description-forecast p, .description-forecast div {
    margin-top: 15px;
    height: 30px;
}

.info-title-gray {
    color: rgb(94, 94, 94) !important;
    font-weight: 500;
    font-size: 20px;
}

.forecast-block .col-sm {
    text-align: start;
}

.forecast-block .row-with-bottom-border {
    margin-top: 5px;
    border-bottom: 1px solid rgba(56, 56, 56, 0.1);
}

/*---------------------------WEEKDAYS---------------------------------------------*/

.info-weekdays-block {
    padding: 0px !important;
}

.info-weekdays-block .row {
    margin: 0px !important;
}

.info-weekdays-block .col-sm {
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
}

.info-weekdays-block .col-sm:hover {
    cursor: pointer;
}

.weekday {
    text-transform: uppercase;
    color: rgb(65, 105, 225);
}

.weekday-date {
    text-transform: uppercase;
    color: rgb(94, 94, 94);
}

.weekday-temperature, .weekday-temperature-celcius {
    font-weight: 500;
    font-size: 25px;
}

.weekday-temperature-description {
    color: rgb(94, 94, 94);
}

.weekday-info {
    border: 1px solid;
    border-color: rgba(56, 56, 56, 0.1);
}

#search-error {
    display: none;
    background-color: rgba(238, 236, 236, 0.3);
    height: 100vh;
    width: 100vw;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-top: 10%;
}

#search-error-input {
    font-weight: 700;
}

#search-error img {
    width: 150px;
    height: 250px;
}